head
  title #{pageData.title}
  link(rel='stylesheet', href='resources/bootstrap-3.0.3-dist/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='resources/css/app.css')
  script(src='https://code.jquery.com/jquery.js')
  script(src='resources/bootstrap-3.0.3-dist/dist/js/bootstrap.min.js')